main {
    height: 200vh;
  }

  .navbar {
    background-color: rgb(102,102,102);
    color: #faf9f9;
    display: flex;
    justify-content: start;
    position: sticky;
    top: 20px;
    
}

a {
    margin: 10px;
    font-family: 'NarrowNews' normal;
    
}

a:hover {
  color: rgb(64, 58, 58);
}

.navbar:hover {
  background-color: #757474;
}

 
  
  @font-face {
    font-family: "NarrowNews"; 
    src: url("./fonts/ClanOT-NarrowNews.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

    @media (max-width: 820px) {

     .header {
      background-color: rgb(25, 26, 26);
     } 
    }